<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <h1>🦑 Hello Medusa</h1>
    <h2>Filtering by Author</h2>
    <select id="author-filter">
        <option value="linustorvalds">Linus Torvalds</option>
        <option value="martinfowler">Martin Fowler</option>
        <option value="robertmartin">Robert Martin</option>
    </select>

    <h2>Messages</h2>
    <p>
        <ul id="messages">

        </ul>
    </p>

    <script src="websocket.js"></script>
</body>
</html>